{%- assign img_url = product.featured_image | img_url: 'master' -%}

<div class="reveal">
  <a href="{{ product.url }}">
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper js">
      <div style="padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
        <img id="{{ img_id }}"
              class="grid-view-item__image lazyload"
              src="{{ product.featured_image | img_url: 'master' }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ product.featured_image.aspect_ratio }}"
              data-sizes="auto"
              alt="">
      </div>
    </div>
    <div class="hidden">
     <div class="caption">
        <span class="caption-artist">
          {% for collection in product.collections %}
            {% if collection.title != 'Featured Collection' and collection.title != 'All Products' %}
              {{ collection.title | strip | split: ':' | first }}
            {% endif %}
          {% endfor %}
          | {{ product.type }}
        </span>
        <span class="caption-title">{{ product.title }}<span class="caption-button">See artwork</span></span>
     </div><!-- end of .caption -->
    </div><!-- end of .hidden -->
  </a>
</div>
